<footer class="border-top text-muted bg-dark mt-2" id="Iletisim">
    <div class="container">
        <div class="row pt-3">

            <div class="col-md-4 border-right">
                <h2 class="text-white">Eposta Bildirimleri</h2>

                <form class="form-group">
                    <label class="mt-2">E-Posta</label>
                    <input type="text" class="form-control mt-2" />
                    <button class="btn btn-primary form-control mt-2">Bildirim Al</button>
                </form>
            </div>

            <div class="col-md-4 border-right">


                <h2 class="text-white">İletişim</h2>

                <ul class="mt-4">
                    <li class="text-decoration-none list-unstyled"><a href="#" class="">Facebook</a></li>
                    <li class="text-decoration-none list-unstyled"><a href="#" class="">İnstagram</a></li>
                    <li class="text-decoration-none list-unstyled"><a href="#" class="">Twitter</a></li>
                </ul>


            </div>

            <div class="col-md-4">
                <h2 class="text-white">Hizmetler</h2>
                <p>
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
        <div class="row mt-2 pb-2">
            <div class="col-12 text-white text-center">BilgeAdam &copy; Serkan Şahin</div>
        </div>
         </div>
</footer>