
<header class="row border-bottom border-success p-2 bg-dark text-white" style="position:sticky; top:0; z-index:1;">
    <div class="col-lg-2 col-md-12 text-center">
        <h2><a href="#" class="text-decoration-none text-warning">Bilge Hotel</a></h2>
    </div>
    <div class="col-lg-8 mx-auto">
        <ul class="list-group list-group-horizontal d-flex justify-content-center mt-1 ">
            <li class="list-inline line btn"><h3><a href="#Konaklama" class="p-2 text-decoration-none text-white">Konaklama</a></h3></li>
            <li class="list-inline line btn"><h3><a href="#Tanıtım" class="  p-2   text-decoration-none text-white">Tanıtım</a></h3></li>
            <li class="list-inline line btn"><h3><a href="#Iletisim" class="p-2 text-decoration-none text-white ">İletişim</a></h3></li>
        </ul>

    </div>
    <div class="col-lg-2 col-md-12 text-center mt-1">
        <a asp-action="Index" asp-controller="Reservation" class="text-white text-decoration-none btn btn-warning w-100  font-weight-bold">Rezervasyon</a>
    </div>
</header>
