@model ReservationCreateVM
@using BilgeHotel.Core.MyTools.Concrete
@{
    int? roomId = ViewData["RoomId"] as int?;


    List<DateTime> ReservationDates = TempData["ReservationGetir"] as List<DateTime>;
    Layout = null; 
   

}


<div class="col-12">
    <div class="row">
        <div class="col-6">
            @* BURADA KALDIM *@

            <h2>Rezervasyon Seçenekleri</h2>

            <select id="checkIn_@roomId"class="form-control mt-2 dropdown">
                @foreach (var item in ReservationDates)
                {
                    <option>@item</option>
                }
            </select>

            <select id="checkOut_@roomId">
            </select>
        </div>
        <div class="col-6">
            <h2>Sign Up</h2>
            <form asp-controller="Reservation" asp-action="_ReservationCreatePartial">
                <label asp-for="Customer.FirstName"></label>
                <input type="text" asp-for="Customer.FirstName" class="form-control" />
                <label asp-for="Customer.LastName"></label>
                <input type="text" asp-for="Customer.LastName" class="form-control" />
                <label asp-for="Customer.Phone"></label>
                <input type="text" asp-for="Customer.Phone" class="form-control" />
                <label asp-for="Customer.Email"></label>
                <input type="email" asp-for="Customer.Email" class="form-control" />
                <label asp-for="Customer.TcIdentityNo"></label>
                <input type="number" asp-for="Customer.TcIdentityNo" class="form-control" />
                <label asp-for="Customer.BirthDate"></label>
                <input type="datetime" asp-for="Customer.BirthDate" class="form-control" />
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <button class="btn btn-primary float-right">Rezervasyon Yap</button>
        </div>
    </div>
</div>
<script src="~/jquery/jquery.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script>



    @*function odaGetir(id) {
        alert("sd")-->
        $("#checkOut+" +@roomId).append("<option>sadas</option>")

        <!--$("#checkOut_" +@roomId).append($('<option>', {
            value: 1,
            text: 'My option'
        }));
    }*@

    $(document).ready(function () {

        $("#checkIn_@roomId").change(function () {


            var currentDate = $("#checkIn_@roomId").children(":selected").val().toString()
            var a = currentDate.replace(" ", ".")
            var b = a.replace(":", ".")
            var c = b.replace(":", ".")
            var ayristir = c.split(".")

            var day = ayristir[0]
            var month = ayristir[1]
            var year = ayristir[2]
            var hour = ayristir[3]
            var minute = ayristir[4]
            var second = ayristir[5]

           $.ajax({
             type: "Get",
               url: "/Reservation/GetOutDate/",
               dataType: "json",
               data: {
                   Year: year,
                   Month: month,
                   Day: day,
                   Hour: hour,
                   Minute: minute,
                   Second: second
               },
               success: function (data) {
                   
                   $.each(data, function (index, item) {
                       //BURDA KALDIM. TARİHLER GELİYOR ANCAK TARİH FORMATINDA DEĞİL
                       /*https://stackoverflow.com/questions/27314663/asp-net-parse-datetime-result-from-ajax-call-to-javascript-date*/
                   })
                   @*$.each(data, function (index, item) {
                       item.
                     $("#checkOut_" +@roomId).append(`<option value="${item}">
                                       ${item}
                                  </option>`);
                     item.Json
                     console.log(item.Year)
            });*@


              }
           })








        })

   })


</script>