<!DOCTYPE html>
@{
    Layout = null;
}
@model List<RoomType>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>




    <div class="container">
        <div class="row">
            <div class="col-12">
                <a asp-action="Index" asp-controller="Konaklama" class="btn btn-danger float-lg-right">Anasayfaya Dön</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3  mt-2">
                <div class="card">
                    <div class="card-header text-center bg-dark text-warning">
                        <h2>Filtre</h2>
                    </div>
                    <div class="card-body">
                        <h3>Oda Tipi Seçiniz</h3>

                        <select id="Types" class="form-control mt-2">
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@Html.Raw(item.Name + " ( " + item.RoomTypeName + " ) ")</option>
                            }
                        </select>

                        <button id="Uygula" class="btn btn-primary form-control mt-2">Uygula</button>

                    </div>
                </div>
            </div>

            <div id="Icerik" class="col-lg-9">Henüz bir filtre seçmediniz.. </div>
        </div>
    </div>

    <div style="width: 100%; ">
        <ul id="absorbe" style="height: 150px; white-space: nowrap; overflow-x: scroll; "></ul>
    </div>

    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script>
        $('#Uygula').click(function () {
            var currentId = $("#Types").children(":selected").val()
            $.ajax({
                type: 'GET',
                url: '/Reservation/_ReadyRoomsPartial/' + currentId,
                success: function (result) {
                    $('#Icerik').html(result);
                }
            });
        });
    </script>
    @* Kur Bilgileri *@
    <script>
        var api_url = "https://finans.truncgil.com/today.json";
        function Cek() {
            $.ajax({
                type: "json",
                method: "get",
                url: api_url,
                crossDomain: true,
                dataType: "json",
                success: function (data) {
                    for (let a in data) {
                        var randomColor = Math.floor(Math.random() * 16777215).toString(16);
                        var abd = data[a]
                        $("#absorbe").append(`<li style="color:white;margin:5px; background-color:#${randomColor}; white-space:nowrap;float:left;">Tip : ${a} Alış : ${abd.Alış}Satış : ${abd.Satış}</li>`)
                    }
                }

            })
        }
        Cek()

    </script>
</body>
</html>
