@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReservationComplete</title>
</head>
<body>
    <h2>Ödeme Tamamlandı. Rezervasyon Oluşturuldu.</h2>
    @Model

    <a href="/" class="btn btn-primary">Anasayfaya Dön.</a>
</body>
</html>
