@{
    ViewData["Title"] = "Home Page";
}

<div id="Konaklama" style="height:1000px;"> //Konaklama verileri gelicek
    sasafas
</div>

<div id="Tanıtım" style="height:1000px;">
    Tanıtım Verileri Buraya Gelicek
</div>
